/* Login */
.login{
	padding-top: 15%;
}
/* End Login */

/* create product */
.create-product .img-view{
    margin-top: 20px;
    max-height: 250px;
    max-width: 400px;
}
.create-product .col-sm-6[class!="description"]{
	height: 40px;
}
.create-product input{
}
/* end create product */

/* list product */
.list-product table tbody td{
}
/* end list product */

/* list bill */
.list-bill table tbody td{
}
/* end list bill */

/* detail bill */
.details-bill table tbody td{
}
.details-bill .col-sm-6{
	height: 40px;
}
.ibox-content{
	background: none;
}
.details-bill{
	display: none;
}

.bill-active{
	display: block !important ;
}
/* end detail bill */

.ui-helper-hidden-accessible{
	display: none;
}
.note-editing-area{
	min-height: 300px;
}

/* list shop */
.list-shop .item-button{
	max-width: 100px;
}
/* end list shop */

#bill-map{
	width: 100%;
	height: 600px;
}


/* .details-bill{
	display: none;
} */

.nav-tabs li {
    height: 40px;
    padding: 10px;
   
    cursor: pointer;
}

.nav li.active{
	background: #33333312 !important;
}

li#info-bill-detail {
    border-top-left-radius: 6px;
}

li#map-bill-detail {
    border-top-right-radius: 6px;
} 


/* degin dashboard */

/* hiep */
.dashboard .ibox-content{
	background: #ffffff;
}

.barChart-date{
	display: none !important;
}

.chart-active{
	display: block !important;
}


/* end dashboard */