.fixNav{
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 100000000;
}
.cart-body{
	z-index:999;
}
.inner-header{
	background-color: #ffffff
}
.inner-title,.beta-breadcrumb, .beta-breadcrumb a{
	color: black
}
.main-menu>ul.l-inline> li> a{
	color: #fff;
	padding: 10px 35px
}
.single-item{
	min-height: 422px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img.pull-left{
	width: 70px;
}

.info-user {
    padding: 0 61px;
    padding-top: 22px;
}

.sub-menu{
  background: #e1dada;
  top: 100%;
  left: 0;
}

.main-menu{
  height: unset;
}

.main-menu li{
  padding : 10px 35px;
}


.single-item-title{
  margin-bottom: 20px;
}



.status{
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  font-weight: 400;
}

.status-exists{
  color: green;
}
.status-not-exists{
  color: red;
}

.list-product-item{
  min-height: 500px;
}

.title-cate {
    border-bottom: 1px solid #8080809c;
    padding-bottom: 15px;
}